fastapi
uvicorn
python-dotenv
python-multipart

langchain
langchain-community
langchain-text-splitters
langchain-openai
langchain-groq
langchain-qdrant
openai

qdrant-client

pypdf
docx2txt
python-docx
python-pptx
openpyxl
pandas
lxml